background-color =  #FCFCFC
titles-color = #000013
text-color = #999999

error-color = #C62C3F
success-color = #52D892
warning-color = green

anchor-color =  #66ABCE
anchor-hover-color =  #0077b3
anchor-visited-color =  #00b0b3
anchor-visited-blending-color =  #24fbff
tooltip-color =  #8a7dff
emphasis-color =  #a6a6a6

strong-color =  #444
username-color =  #363636
shadow-color =  #303030
border-color =  #292929
marquee-color =  #111