@import '../node_modules/jeet/stylus/jeet/index'
@import 'globals'
@import 'header'
@import 'aside'

body
	background-color background-color
	color text-color
	font-family 'Open Sans', sans-serif
	
	h1, h2, h3, h4, h5, h6
		color titles-color